.car-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &_name {
    height: 4rem;
  }

  &_version {
    height: 4rem;
  }

  &_price {
    height: 4rem;
  }
}