.searchbar {
  .focusable {
    &:focus {
      border: 2px solid #7d10ff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.3s ease-in-out;
    }
  }
  .ant-input-group-wrapper {
    width: 800px;
  }
  margin: 2rem 0;
}
