.body-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;

  &_searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  &_layout_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }
}
